  </main>

  <footer class="bg-light text-center py-3 mt-5">
    <p>
      <a href="https://github.com/lemuellau-OTU" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://linkedin.com/in/lemuel-lau" target="_blank"><i class="fab fa-linkedin"></i></a>
    </p>
  </footer>

</body>
</html>
