<!DOCTYPE HTML>
<html lang="en">

<%- include('partials/header') %>

<!--link to css files-->
<head>
  <meta charset="utf-8">
  <title>Lemuel Lau — Portfolio</title>
  <!-- Desktop / Tablet / Mobile CSS files -->
  <link rel="stylesheet" href="desktop.css" media="screen and (min-width: 992px)">
</head>

<body>
    <!--article with page content-->
    <main>
      <article>
        <div class="article">
            <h2>Welcome</h2>
            <p>Hi — welcome to my portfolio. Browse my About page to learn more about me, check projects I've done, or get in touch.</p>
        </div>
      </article>
    </main>
</body>

<%- include('partials/footer') %>