/* desktop.css - desktop (>=992px) */
/* fluid width up to 1200px */

/* page design*/
#page {
  margin: 0;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/* banner design */
.banner {
  background: linear-gradient(to right,#AC93F4 0%,#6C2AF5 100%);
  font-family: Verdana, Geneva, Arial, sans-serif;
  padding: 5px;
  margin: 5px;
}

/* article design */
.article {
  height: 300px;
  padding: 20px;
}

/* figure design */
figure {
  margin-right: 10px;
  border: 2px solid #ddd;
  width: 220px;
  text-align: center;
  background: #fff;
}

/* photo design */
.profile-photo {
  width: 200px;
  height: auto;
  margin: 10px;
  border-radius: 6px;
}

/* project design */
.project {margin-bottom: 18px;}

/* video design */
video {
  width: 500px;
  max-width: 640px;
  height: 500px;
  margin-top: 10px;
}

/* footer design */
.footer {
  padding: 20px;
  text-align: center;
  background: linear-gradient(90deg,#AC93F4 0%,#6C2AF5 100%);
  color: white;
  margin-top: 20px;
  font-size: 17px;
}
